#day-buttons-container label {
  width: 75px;
}

#flashcard-container {
  height: 400px;
  width: 700px;
}

#flashcard {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.isFlipped {
  transform: rotateY(180deg);
}

#flashcard-front {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#flashcard-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
